* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* import font */
@font-face {
    font-family: bla;
    src: url(Courgette-Regular.ttf);
}

body {
    background-color: rgb(43, 43, 43);
    font-family: bla;
    height: 5000px;
}

h1 {
    text-align: center;
    width: 500px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(150, 150, 150);
    font-size: 3rem;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

#mawar {
    width: 200px;
    height: 200px;
    position: fixed;
    stroke: #a70045;
    stroke-width: 3;
    transform-origin: center;
}

.scale {
    animation: scale 1s infinite ease-in-out;
    transform-origin: center;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}